<script>

var CreateVMModal = {
  dev: null,
  vms: null,
  patches: null,
  changelog: null,
  callback: null,
  exclusivity: false,
  __fill: function(data){
    console.log(data) 
    var vmdata = data.vms["versions"]
    var vminfo = data.vms["info"]
    //if (vmdata.length<=0){
    //  CreateVMModal.vms=null
    //  return
    //}
    console.log(vmdata)
    CreateVMModal.exclusivity = false
    var vms = []
    var versions = []
    var clogs = {}

    vm_number = 0
    _.each(vmdata,(history,version,allvm)=>{
        var cnt=0
        var vvv = history["vms"]["base"]
        clogs[version]=history["changelog"]["base"]
        versions.push(version)
        _.each(vvv,(v,k,l)=>{
          // basic_rtos = vmdata.rtoses[v.rtos].split(" ")[0].toLowerCase();
          license = v.pro ? ("premium"):("starter");
          xx = _.find(Store.profile.assets.table,(v2,k2,l2)=>{
            return k2==v.generic_rtos
          })
          yy = _.find(xx,(v2,k2,l2)=>{
            return k2==license
          })
          vm_exists = _.filter(data.my_vms.list,(v2,k2,l2)=>{
            return v2.rtos==v.rtos && v2.pro==v.pro
          })
          available = vm_exists.length > 0 ? (true) : (false);
          if (!available && yy) {
            available = yy.remaining ? (true) : (false);
          }
          vms.push({
            title:v.title,
            patch: "base",
            version: version,
            description:v.description,
            rtos: vminfo.rtoses[v.rtos] || "None",
            features: _.map(v.features,(vv,kk,ll)=>{ return vminfo.features[vv]}).join(", ") || "---",
            thevm: v,
            pro:license,
            index:cnt,
            num:vm_number,
            available: available,
            exclusive: v.exclusive,
            exclusivity: v.exclusivity
          })
          if (v.exclusive || v.exclusivity) {
            CreateVMModal.exclusivity = v.exclusivity
          }

          cnt++
          vm_number++
        })
    })
    if (data.dev.chipid){
      $("#create_vm_title").html("Create VM for "+data.dev.name+" ("+data.dev.chipid+")")
    } else {
      $("#create_vm_title").html("Create VM for "+data.dev.name+" (unknown id)")
    }

    //$("#createvm_modal_table").html($.templates("#createvm_modal_row").render({ patches:patches, changelog:vmdata.changelog,vms:vms}))

    console.log(versions)
    versions.reverse()
    console.log(versions)

    var new_versions = _.sortBy(_.map(versions,(elem)=>{
      var xx = {};
      xx.version = elem;
      return xx
    }),"version").reverse()
    new_versions[0].index = 0;
    console.log(new_versions)

    CreateVMModal.dev = data.dev
    CreateVMModal.vms = vms
    CreateVMModal.versions = versions
    CreateVMModal.new_versions = new_versions
    CreateVMModal.changelog = clogs
    CreateVMModal.callback = data.callback
    console.log(CreateVMModal)
    $("#createvm_modal").on("hidden.bs.modal", function () {
      if (CreateVMModal.callback) CreateVMModal.callback()
    });
    CreateVMModal.display_version(new_versions[0].version)
    if (versions.length > 1){
      var picker = $("#zvm_version_select")
      console.log(picker)
      picker.empty()
      picker.unbind("change")
      picker.html($.templates('<option value="{{:version}}">{{:version.toUpperCase()}}{{if index==0}} (latest){{/if}}</option>').render(CreateVMModal.new_versions))
      picker.selectpicker("val",new_versions[0].version)
      picker.selectpicker("refresh")
      picker.on("change",function(){
        var selected = $('#zvm_version_select option:selected').val();
        console.log(selected)
        picker.selectpicker("val",selected)
        CreateVMModal.display_version(selected)
      })
    }
    else {
        $("#createvm_modal_div2").hide()
    }
  },
  __show: function(){
    if(!CreateVMModal.vms){
      Z.log("No available virtual machines for this device!")
      return
    }
    $("#createvm_modal").modal()
  },
  __hide: function(){
    $("#createvm_modal").modal("hide")
  },
  parse_accounts: function(msg) {
      var opos = msg.lastIndexOf("[")
      var cpos = msg.lastIndexOf("]")
      var accs = msg.substring(opos+1,cpos)
      var lastcomma = accs.lastIndexOf(",")
      if (lastcomma > 0) {
        accs = accs.substring(0,lastcomma) + " or "+ accs.substring(lastcomma+1)
      }
      return accs
  },
  run_create: function(vm,dev){
    var fn = (dev.manual) ? (ZTC.vmcreate_by_uid):(ZTC.vmcreate)
    fn(vm,dev)
      .then(()=>{
        CreateVMModal.__hide()
        Z.log("VM created! You can now virtualize your "+dev.target)
        ZDevices.disambiguate()
        App.upd_profile()
      })
      .catch((err)=>{
        Z.log(""+err)
        if (err.includes("ZE100")) {
            //TODO: parse err to extract required accounts
            accstring = CreateVMModal.parse_accounts(err)

            //hide everything
            $(".modal").modal("hide")
            //disable callback
            CreateVMModal.callback=null
            ZNotify.alert("This VM requires a "+accstring+" account! Please logout (Preferences => <a href=\"javascript:App.logout()\">Logout</a>) and sign-in with a "+accstring+" account.<br><br>If you don't have an account already, you can signup directly from the Zerynth Login page; remember to use your current email ["+Store.user_email()+"] in order to merge the accounts!","Exclusive VM","warning")
        } else {
            CreateVMModal.__hide()
        }
      })
  },
  display_version: function(version_name){
    var html=""
    var cc = CreateVMModal.changelog[version_name]
    var vv = _.filter(CreateVMModal.vms,(item)=>{return item.version==version_name})
    var ordvms = []
    for (var rtos in ZConf.rtoses) {
      var listvm = _.filter(vv, (item)=>{
            return item.rtos==ZConf.rtoses[rtos]
          })
      if (listvm.length > 0){
        listvm = _.sortBy(listvm,"features")
        ordvms.push({"rtos":ZConf.rtoses[rtos],"vms":listvm})
      }
    }
    ordvms = _.sortBy(ordvms,"rtos").reverse()
    var opt =   {
        version:version_name,
        changelog:cc,
        vv:ordvms,
        versions:CreateVMModal.new_versions,
        exclusivity:false
    }
    console.log(opt)

    html=$.templates("#createvm_modal_table1").render(opt)
    $("#createvm_modal_div1").html(html)
    html=$.templates("#createvm_modal_table3").render(opt)
    $("#createvm_modal_div3").html(html)
  },
  select: function(row){
    row.children('td').children('input').prop('checked', true);
    row.removeClass('selected');
    row.toggleClass('selected');
  },
  create: function(){
    var sel = $('#createvm_modal input[name="vms"]:checked').val()
    var vm = CreateVMModal.vms[sel]
    var dev = CreateVMModal.dev
    console.log(dev)
    console.log(sel)
    console.log(vm)
    Z.log("Creating VM for "+dev.target+"...")
    if (!dev.chipid){
        ZTC.command(["device","register",dev.alias])
        .then(()=>{
            CreateVMModal.run_create(vm,dev)
        })
        .catch((err)=>{
            CreateVMModal.__hide()
        })
    } else CreateVMModal.run_create(vm,dev)
  }
}

</script>
<script id="createvm_modal_table1" type="text/x-jsrender">
    <div style="font-size:15px;text-align: center">Create a Virtual Machine</div>
    <div style="font-size:15px;text-align: center">{{:version.toUpperCase()}} RELEASE - Changelog: {{:changelog}}</div>
    <hr>
    {{if exclusivity}}
      <div style="font-size:15px;text-align:center;margin-bottom:6px"><span class="label label-info">The VMs are available for {{:exclusivity}} users only</span></div>
    {{/if}}
</script>
<script id="createvm_modal_table3" type="text/x-jsrender">
    {{for vv ~cur=version}}
      <p>Select one of the available configurations for {{:rtos}}</p>
      <table class="table table-striped table-bordered" style="max-height: 600px;padding:4px">
        <tr style="background-color:#0070EF;color:#ffffff">
          <th style="width:5%">#</th>
          <th style="width:20%">Configuration</th>
          <th style="width:10%">Version</th>
          <th style="width:15%">RTOS</th>
          <th style="width:30%">Features</th>
          <th style="width:10%">License</th>
          <th style="width:10%">Available</th>
        <tr>
        {{for vms ~pp=~cur}}
          <tr onclick="CreateVMModal.select($(this))">
            <td><input type="radio" value="{{:num}}" name="vms" {{if index==0}}checked{{/if}}></td>
            <td>{{:title}}</td>
            <td>{{:~pp.toUpperCase()}}</td>
            <td>{{:rtos}}</td>
            <td>{{:features}}</td>
            <td>{{:pro[0].toUpperCase()+pro.substr(1)}}</td>
            <td style="text-align:center"><i class="glyphicon glyphicon-{{if available}}ok{{else}}remove{{/if}}" style="color:{{if available}}#3c763d{{else}}#a94442{{/if}}"></i></td>
          </tr>
        {{/for}}
      </table>
    {{/for}}
</script>
<style>
#createvm_modal_table td,
#createvm_modal_table th {
  vertical-align: middle;
}
</style>
<div class="modal fade" style="height:100%;overflow-y: auto;" id="createvm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="min-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="create_vm_title">Create VM</h4>
      </div>
      <div class="modal-body">
        <div id="createvm_modal_div1"></div>
        <div id="createvm_modal_div2">
          <div style="font-size:15px;text-align: center" id="createvm_modal_ptch">Available versions:
            <br>
            <select id="zvm_version_select" class="selectpicker"></select>
          </div>
        <hr>
        </div>
        <div id="createvm_modal_div3"></div>
        <div class="alert alert-danger" style="display:none">
          <span class="pficon pficon-error-circle-o"></span><p id="createvm_error"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info" onclick="CreateVMModal.create()">Create</button>
      </div>
    </div>
  </div>
</div>
