<script>

var VirtualizeModal = {
  __fill: function(data){
    //data must have at least one element, check somewhere else before calling
    $("#virtualize_alert").hide()
    var picker = $("#vms_list")
    var header = '<tr style="background-color:#468c8c;color:#ffffff"><th>#</th><th>Device</th><th>RTOS</th><th>License</th><th>Features</th><th>Patch</th><tr>'
    console.log(data)

    data = _.sortBy(data,"features")
    data = _.map(data,(v,k,l)=>{
      var dev = _.find(ZDevices.targets,(item)=>{
            return item.target==v.target
          })
      return {
        chipid:v.chipid,
        uuid:v.uuid,
        index:k,
        version:v.version,
        patch:v.patch,
        rtos: ZConf.rtoses[v.rtos],
        features: _.map(v.features,(vv,kk,ll)=>{ return ZConf.features[vv]}).join(", ") || "---",
        devname: v.name //_.find(ZDevices.targets,(item)=>{ return item.target==v.target }).name
      }
    })
    if (data[0].chipid){
      $("#vTitle").html("Virtualize "+data[0].devname+" ("+data[0].chipid+")")
    } else {
      $("#vTitle").html("Virtualize "+data[0].devname+" (unknown id)")
    }
    picker.html(header+$.templates("#virtualize_modal_row").render(data))
  },
  __show: function(){
    $("#virtualize_modal").modal()
  },
  __hide: function(){
    $("#virtualize_modal").modal("hide")
  },
  select: function(row){
    row.children('td').children('input').prop('checked', true);
    row.removeClass('selected');
    row.toggleClass('selected');
  },
  virtualize: function(){
      $("#virtualize_alert").hide()
      var selected = $("#vms_list option:selected").val()
      var selected = $('#vms_list input[name="vms"]:checked').val()
      if(Store.actions()) return;
      
      var dev = ZDevices.selected
      if (!dev){
          ZNotify.alert("Please select a device first!","Error","error")
          return
      }

      Store.action("virtualizing",true)
      ZNotify.wait()
      var cmds
      if (dev.manual) {
          cmds = ["device","virtualize_raw",selected]
          if (dev.probe) {
            cmds.push("--spec")
            cmds.push("probe:"+dev.probe)
          }
          if (dev.port) {
            cmds.push("--spec")
            cmds.push("port:"+dev.port)
          }
          if (dev.disk) {
            cmds.push("--spec")
            cmds.push("disk:"+dev.disk)
          }
      } else {
          cmds = ["device","virtualize",dev.alias, selected] 
      }
      ZTC.command(cmds)
      .then(()=>{
        Store.action("virtualizing",false)
        $("#virtualize_modal").modal("hide")
        Z.log("Device Virtualized")
        ZNotify.done()
      })
      .catch((err)=>{
        Store.action("virtualizing",false)
        ZNotify.modal_error("virtualize",err)
        ZNotify.done("Error")
      })
  }
}

</script>
</script>
<script id="virtualize_modal_row" type="text/x-jsrender">
<tr onclick="VirtualizeModal.select($(this))">
  <td><input type="radio" value="{{:uuid}}" name="vms" {{if index==0}}checked{{/if}}></td>
  <td>{{:devname}}</td>
  <td>{{:rtos}}</td>
  <td>{{if features == '---'}}Starter{{else}}Premium{{/if}}</td>
  <td>{{:features}}</td>
  <td>{{:patch.toUpperCase()}}</td>  
</tr>
</script>
<style>
#virtualize_modal_table td,
#virtualize_modal_table th {
  vertical-align: middle;
}
</style>

<div class="modal fade" id="virtualize_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="min-width: 50%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="vTitle">Virtualize</h4>
      </div>
      <div class="modal-body">
        <p>Select a Virtual Machine</p>
        <table class="table table-striped table-bordered" id="vms_list" style="max-height: 600px;padding:4px"></table>
        <div class="alert alert-danger" id="virtualize_alert" style="display:none">
          <span class="pficon pficon-error-circle-o"></span><p id="virtualize_error"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="VirtualizeModal.virtualize()">Virtualize</button>
      </div>
    </div>
  </div>
</div>
