
<script>
var ThingsView = {
    templates: [],
    templ_dict: {},
    groups: [],
    groups_dict: {},
    devs_dict: {},
    devices: [],
    online_only: false,
    sort_by: "-date",
    monitoring: false,
    ota_preparing: false,
    init: function(){
    },
    start_monitor: function(){
      if(!ThingsView.monitoring){
        ThingsView.monitoring = true
        ZTC.ota_monitor(
          (msg)=>{
            console.log(msg)
            if(!msg){
                ThingsView.monitoring = false;
                setTimeout(()=>{console.log("Restarting monitor..."); ThingsView.start_monitor()},5000)
                return
            }
            if (!msg.source) return;
            var thedev = ThingsView.devs_dict[msg.source]
            if(!thedev) return
            if(msg.action=="ota") {
              var prg = "#dev_"+msg.source+"_progress"
              var sts = "#dev_"+msg.source+"_otamsg"
              if (msg.status=="b") {
                $(prg).css('width',msg.progress+"%")
                $(sts).html("sending bytecode ("+msg.block+"/"+msg.blocks+")")
              } else if (msg.status=="v") {
                $(prg).css('width',msg.progress+"%")
                $(sts).html("sending VM ("+msg.block+"/"+msg.blocks+")")
              } else if (msg.status=="c") {
                $(prg).css('width',"0%")
                $(sts).html("checking CRC...")
              } else if (msg.status=="fail") {
                $(prg).css('width',"0%")
                $(sts).html("failed: "+msg.reason)
                ThingsView.refresh_device(msg.source)
              } else if (msg.status=="done") {
                $(prg).css('width',"0%")
                $(sts).html("finished!")
                ThingsView.refresh_device(msg.source)
              } else if (msg.status=="start") {
                $(prg).css('width',"0%")
                $(sts).html("starting...")
              } else if (msg.status=="restart") {
                $(prg).css('width',"0%")
                $(sts).html("waiting restart...")
              }
            } else ThingsView.refresh_device(msg.source)
          })
          .then(()=>{
            console.log("endcb")
            ThingsView.monitoring = true;
          })
          .catch((err)=>{
            console.log("errcb:"+err)
            ThingsView.monitoring = false;
            setTimeout(()=>{console.log("Restarting monitor..."); ThingsView.start_monitor()},5000)
          })
      }
    },
    retrieve: function(){
      return new Promise((resolve,reject)=>{
        ZNotify.wait("Getting connected devices...")
        ZTC.things_template_list()
          .then((templs)=>{
                ThingsView.templates = templs.templates
                ThingsView.templ_dict = {}
                _.each(ThingsView.templates,(v,k,l)=>{
                    ThingsView.templ_dict[v.uid] = v
                })
                ZTC.things_group_list()
                .then((grps)=>{
                    ThingsView.groups = grps.groups
                    ThingsView.groups_dict = {}
                    _.each(ThingsView.groups,(v,k,l)=>{
                      ThingsView.groups_dict[v.uid] = v
                    })
                    ZTC.things_list()
                      .then((lst)=>{
                        ZNotify.done()
                        ThingsView.devs_dict = {}
                        ThingsView.devices = _.map(lst.devices,(v,k,l)=>{
                            if (v.template) v.template_name = ThingsView.templ_dict[v.template].name
                            if (v.groups) {
                              v.groups = _.map(v.groups,(vv,kk,ll)=>{
                                return {group:vv,group_name:ThingsView.groups_dict[vv].name}
                              })
                            }
                            ThingsView.devs_dict[v.uid] = v
                            return v
                        })
                        console.log("DEVICE")
                        console.log(ThingsView.devices)
                        ThingsView.start_monitor();
                        resolve()
                      })
                      .catch((err)=>{
                        ZNotify.done("Error")
                        reject(err)
                      })
                })
                .catch((err)=>{
                  ZNotify.done("Error")
                  reject(err)
                })
          })
          .catch((err)=>{
                ZNotify.done("Error")
                reject(err)
              })
        })
    },
    redraw: function(){
        $("#things_container").html('<div style="text-align:center;padding:8px"><span class="fa fa-spinner fa-spin"></span></div>')
        ThingsView.retrieve()
          .then(()=>{
              if (ThingsView.devices.length<=0) {
                 $("#things_container").html('<div style="text-align:center;padding:8px">There are no connected devices, <a href="javascript:ThingsView.add_device()">add one!</a></div>')
              } else {
                  ThingsView.render()
              }
          })
          .catch((err)=>{
            console.log("ERROR")
            $("#things_container").html('<div style="text-align:center;padding:8px">Can\'t retrieve device list!</div>')
            console.log(err)
          })
      
    },
    render: function(){
      var devs = []
      if (ThingsView.sort_by=="+date"){
        devs = _.sortBy(ThingsView.devices,"createdAt")
      } else if(ThingsView.sort_by=="-date"){
        devs = _.sortBy(ThingsView.devices,"createdAt")
        devs.reverse()
      } else if(ThingsView.sort_by=="+name"){
        devs = _.sortBy(ThingsView.devices,"name")
      } else if(ThingsView.sort_by=="-name"){
        devs = _.sortBy(ThingsView.devices,"name")
        devs.reverse()
      }
      if (ThingsView.online_only) devs = _.filter(devs,(v,k,l)=>{return v.online})
      $("#things_container").html($.templates("#thing_card").render(devs))
    },
    refresh_device: function(uid){
        ZTC.things_info(uid)
              .then((dev)=>{
                var oldnode = $("#dev_"+uid)
                var thedev = ThingsView.devs_dict[uid]
                Object.assign(thedev,dev)
                oldnode.replaceWith($.templates("#thing_card").render([thedev]))
              })
              .catch((err)=>{
                  console.log("Error refreshing "+err)
              })
    },
    err_and_reload: function(err,target){
      $(target).html("Error!")
      setTimeout(()=>{
                  ThingsView.redraw()
                },2000)
    },
    open_device: function(uid){
        if (!uid) return
        var token = ZConf.get_token()
        if (!token) return
        nw.Shell.openExternal(ZConf.adm_url+"/devices/"+uid+"/?token="+token.token);
    },
    change_token: function(uid){
        var ok = confirm("Reset authentication token for device "+uid+"?")
        if(!ok) return;
        $("#dev_"+uid+" .things_token a").html('resetting...')
        ZTC.things_config(uid,["--token"])
          .then(()=>{
            ZTC.things_info(uid)
              .then((dev)=>{
                $("#dev_"+uid+" .things_token a").html(dev.token)
              })
              .catch((err)=>{
                ThingsView.err_and_reload(err,"#dev_"+uid+" .things_token a")
              })
          })
          .catch((err)=>{
                ThingsView.err_and_reload(err,"#dev_"+uid+" .things_token a")
          })
    },
    choose_template_for_device: function(uid){
      Dialogs.modal("TemplatesModal",{uid:uid,templates:ThingsView.templates})
    },
    set_device_template: function(uid,template) {
      $("#dev_"+uid+" .things_template a").html('changing...')
      ZTC.things_config(uid,["--template",template])
        .then(()=>{
          $("#dev_"+uid+" .things_template a").html(ThingsView.templ_dict[template].name)
        })
        .catch((err)=>{
          ThingsView.err_and_reload(err,"#dev_"+uid+" .things_template a")
        })
    },
    set_device_group: function(uid,group) {
      $("#dev_"+uid+" .things_group").removeClass("fa-plus-circle").addClass("fa-spinner fa-spin")
      ZTC.things_group_config(group,["--add",uid])
        .then(()=>{
            ThingsView.redraw()
        })
        .catch((err)=>{
          ThingsView.err_and_reload(err,"#dev_"+uid+" .things_group a")
        })
    },
    remove_group_from_device: function(uid,group){
      $("#dev_"+uid+" .things_group").removeClass("fa-plus-circle").addClass("fa-spinner fa-spin")
      ZTC.things_group_config(group,["--remove",uid])
      .then(()=>{
        ThingsView.redraw()
      })
      .catch((err)=>{
        ThingsView.err_and_reload(err,"#dev_"+uid+" .things_group")
      })
    },
    choose_group_for_device: function(uid){
      Dialogs.modal("GroupsModal",{uid:uid,groups:ThingsView.groups})
    },
    add_template: function(){
      Dialogs.modal("TemplatesModal",{uid:null,templates:ThingsView.templates})
    },
    add_group: function(){
      Dialogs.modal("GroupsModal",{uid:null,groups:ThingsView.groups})
    },
    add_device: function(){
        var name = prompt("Please enter the device name");
        if (!name) return;
        ZNotify.wait("Creating new device...")
        ZTC.things_create(name)
          .then((thing)=>{
              ZNotify.done()
              ThingsView.redraw()
          })
          .catch((err)=>{
            ZNotify.done("Error!")
            console.log(err)
          })
    },
    toggle_online: function(){
      ThingsView.online_only=!ThingsView.online_only;
      ThingsView.render()
    },
    sort_by_name: function(){
      ThingsView.sort_by= ThingsView.sort_by.endsWith("date") ? "+name":(ThingsView.sort_by.startsWith("+") ? "-name":"+name");
      ThingsView.render()
    },
    sort_by_date: function(){
      ThingsView.sort_by= ThingsView.sort_by.endsWith("name") ? "+date":(ThingsView.sort_by.startsWith("+") ? "-date":"+date");
      ThingsView.render()
    },
    ota_prepare: function(uid){
      var dev = ThingsView.devs_dict[uid]
      var outfile = Z.path.join(ZConf.tempdir,"zstudio_ota.lnk")
      if(!dev || ThingsView.ota_preparing) return
      ThingsView.ota_preparing = true
      App.compile_current_project({target:dev.platform},
        ()=>{
          //compilation ok
          ZNotify.wait("Preparing OTA...")
          ZTC.link(dev.vmuid,Z.path.join(ZConf.tempdir,"zstudio.vbo"),0,(dev.bcslot+1)%2,outfile)
            .then(()=>{
              ZTC.ota_prepare(uid,outfile)
                .then(()=>{
                    Z.log("Bytecode uploaded successfully! You can now start the OTA process...")
                    ZNotify.done()
                    ThingsView.ota_preparing = false
                    ThingsView.refresh_device(uid)
                })
                .catch((err)=>{
                  console.log("Upload error "+err)
                  ZNotify.done("Upload error!")
                  ThingsView.ota_preparing = false
                })
            })
            .catch((err)=>{
              console.log("Link error "+err)
              ZNotify.done("Link error!")
              ThingsView.ota_preparing = false
            })
        },
        (err)=>{
          ThingsView.ota_preparing = false
        })
    },
    ota_start: function(uid){
        var prg = "#dev_"+uid+"_progress"
        ZTC.ota_start(uid)
        .then(()=>{
          $(prg).css('width',"0%")
          ThingsView.refresh_device(uid)
        })
        .catch((err)=>{
          $(prg).css('width',"0%")
        })

    },
    ota_stop: function(uid){
        var prg = "#dev_"+uid+"_progress"
        console.log($(prg))
        ZTC.ota_stop(uid)
        .then(()=>{
          $(prg).css('width',"0%")
          ThingsView.refresh_device(uid)
        })
        .catch((err)=>{
          $(prg).css('width',"0%")
        })
    }

}

</script>

<script id="thing_card" type="text/x-jsrender">  
  <div class="list-group-item list-view-pf-stacked list-view-pf-top-align" id="dev_{{:uid}}">
  <div class="list-group-item-header">
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading zpm_pack_title">
            
            <span id="dev_{{:uid}}_status"  {{if online}} class="fa fa-circle dev_online" title="online" {{else}} class="fa fa-circle dev_offline" title="offline" {{/if}}></span>
            {{:name}}
            <a href="javascript:ThingsView.open_device('{{:uid}}')" title="Open device UI on system browser"><span class="fa fa-eye"></span></a>
          </div>
          <div class="list-group-item-text">
            
            <div class=" zpm_pack_fullname">TARGET:&nbsp;&nbsp;&nbsp;{{:platform}}{{if ota_support}}&nbsp;(BC:{{:bcslot}}&nbsp;|&nbsp;VM:{{:vmslot}}){{/if}}</div>
            <div class="thing_info">
            <div class=" zpm_pack_fullname">UID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{:uid}}</div>
            <div class=" zpm_pack_fullname things_token">TOKEN:&nbsp;&nbsp;&nbsp; <a href="javascript:ThingsView.change_token('{{:uid}}')" title="Reset Token">{{:token}}</a></div>
            {{if template}}
            <div class=" zpm_pack_fullname things_template">TEMPLATE: <a href="javascript:ThingsView.choose_template_for_device('{{:uid}}')" title="Change template">{{:template_name}}</a></div>
            {{else}}
            <div class=" zpm_pack_fullname things_template">TEMPLATE: <a href="javascript:ThingsView.choose_template_for_device('{{:uid}}')" title="Set template"><span class="fa fa-plus-circle"></span></a></div>
            {{/if}}
            <div class=" zpm_pack_fullname">GROUPS:&nbsp;&nbsp;
            {{for groups ~guid=uid}}
            <span class="label label-default zpm_pack_tag">{{:group_name}}<a href="javascript:ThingsView.remove_group_from_device('{{:~guid}}','{{:group}}')"><span class="fa fa-remove"></span></a></span>
            {{/for}}
            <a href="javascript:ThingsView.choose_group_for_device('{{:uid}}')"><span class="fa fa-plus-circle things_group"></span></a>
            </div>
            </div>

            {{if ota_support}}
              <div class=" zpm_pack_fullname things_template">FOTA:&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group">
                  <button type="button" class="btn btn-default" title="Prepare new bytecode" onclick="ThingsView.ota_prepare('{{:uid}}')"><span class="fa fa-cloud-upload fa-fw"></span></button>
                  <button type="button" class="btn btn-default" title="start FOTA" onclick="ThingsView.ota_start('{{:uid}}')" {{if !ota_next_request}}disabled{{/if}}><span class="fa fa-play fa-fw"></span></button>
                  <button type="button" class="btn btn-default" title="stop FOTA" onclick="ThingsView.ota_stop('{{:uid}}')" {{if !ota_request}}disabled{{/if}}><span class="fa fa-stop fa-fw"></span></button>
                  <div class="progress progress-xs" style="width:100%">
                      <div id="dev_{{:uid}}_progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                          <span class="sr-only">60% complete</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class=" zpm_pack_fullname things_template">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dev_{{:uid}}_otareq" style="white-space:nowrap;text-overflow:ellipsis;">{{if ota_request}}FOTA ongoing...{{else ota_next_request}}Bytecode prepared {{else}}No bytecode ready{{/if}}</span>
              </div>
              <div class=" zpm_pack_fullname things_template" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="dev_{{:uid}}_otamsg" style="white-space:nowrap;text-overflow:ellipsis;">{{if ota_fail}}{{:ota_fail}}{{else ota_status=="waiting"}}waiting reconnection{{else ota_status=="ongoing"}}{{else}}Last FOTA: {{:last_ota || "--"}}{{/if}}</span>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</script>
<!-- template -->
<div class="zleftbarview" id="things_view">
    <div class="zleftheader">
      <div class="zleftheadertitle">Connected Devices</div>
      <div class="dropdown  dropdown-kebab-pf">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownPrjKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="fa fa-fw fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
          <li><a href="javascript:ThingsView.add_device()">Add Device</a></li>
          <li><a href="javascript:ThingsView.add_group()">Groups...</a></li>
          <li><a href="javascript:ThingsView.add_template()">Templates...</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="javascript:ThingsView.toggle_online()">Toggle online/offline</a></li>
          <li><a href="javascript:ThingsView.sort_by_name()">Sort by name</a></li>
          <li><a href="javascript:ThingsView.sort_by_date()">Sort by date</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="javascript:ThingsView.redraw()">Refresh</a></li>
        </ul>
      </div>
    </div>
  <div class="zleftcontainer" id="things_holder">
    <div class="zleftpanelheader" id="things_header"></div>
    <div class="zleftpanel" >
      <div class="list-group list-view-pf"  id="things_container">
      </div>
    </div>
  </div>
</div>
<script>
ThingsView.init()
</script>

